In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/nyt.csv',nrows = 100)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [6]:
df1=pd.read_csv('./data/nyt.csv')

/tmp/ipykernel_9025/2307299587.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('./data/nyt.csv')

In [7]:
filas,columnas = df1.shape
print(f'El CSV tiene {filas} filas, {columnas} columnas')

El CSV tiene 2964624 filas, 19 columnas

In [8]:
df1.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
count,2.964624e+06,2.824462e+06,2.964624e+06,2.824462e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.964624e+06,2.824462e+06,2.824462e+06
mean,1.754204e+00,1.339281e+00,3.652169e+00,2.069359e+00,1.660179e+02,1.651167e+02,1.161271e+00,1.817506e+01,1.451598e+00,4.833823e-01,3.335870e+00,5.270212e-01,9.756319e-01,2.680150e+01,2.256122e+00,1.411611e-01
std,4.325902e-01,8.502817e-01,2.254626e+02,9.823219e+00,6.362391e+01,6.931535e+01,5.808686e-01,1.894955e+01,1.804102e+00,1.177600e-01,3.896551e+00,2.128310e+00,2.183645e-01,2.338558e+01,8.232747e-01,4.876239e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-8.990000e+02,-7.500000e+00,-5.000000e-01,-8.000000e+01,-8.000000e+01,-1.000000e+00,-9.000000e+02,-2.500000e+00,-1.750000e+00
25%,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.320000e+02,1.140000e+02,1.000000e+00,8.600000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.000000e+00,1.538000e+01,2.500000e+00,0.000000e+00
50%,2.000000e+00,1.000000e+00,1.680000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,1.280000e+01,1.000000e+00,5.000000e-01,2.700000e+00,0.000000e+00,1.000000e+00,2.010000e+01,2.500000e+00,0.000000e+00
75%,2.000000e+00,1.000000e+00,3.110000e+00,1.000000e+00,2.340000e+02,2.340000e+02,1.000000e+00,2.050000e+01,2.500000e+00,5.000000e-01,4.120000e+00,0.000000e+00,1.000000e+00,2.856000e+01,2.500000e+00,0.000000e+00
max,6.000000e+00,9.000000e+00,3.127223e+05,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,5.000000e+03,1.425000e+01,4.000000e+00,4.280000e+02,1.159200e+02,1.000000e+00,5.000000e+03,2.500000e+00,1.750000e+00

In [9]:
df_describe = df1.describe().round(2)
print(df_describe)

         VendorID  passenger_count  trip_distance  RatecodeID  PULocationID  \
count  2964624.00       2824462.00     2964624.00  2824462.00    2964624.00
mean         1.75             1.34           3.65        2.07        166.02
std          0.43             0.85         225.46        9.82         63.62
min          1.00             0.00           0.00        1.00          1.00
25%          2.00             1.00           1.00        1.00        132.00
50%          2.00             1.00           1.68        1.00        162.00
75%          2.00             1.00           3.11        1.00        234.00
max          6.00             9.00      312722.30       99.00        265.00

       DOLocationID  payment_type  fare_amount       extra     mta_tax  \
count    2964624.00    2964624.00   2964624.00  2964624.00  2964624.00
mean         165.12          1.16        18.18        1.45        0.48
std           69.32          0.58        18.95        1.80        0.12
min            1.00          0.00      -899.00       -7.50       -0.50
25%          114.00          1.00         8.60        0.00        0.50
50%          162.00          1.00        12.80        1.00        0.50
75%          234.00          1.00        20.50        2.50        0.50
max          265.00          4.00      5000.00       14.25        4.00

       tip_amount  tolls_amount  improvement_surcharge  total_amount  \
count  2964624.00    2964624.00             2964624.00    2964624.00
mean         3.34          0.53                   0.98         26.80
std          3.90          2.13                   0.22         23.39
min        -80.00        -80.00                  -1.00       -900.00
25%          1.00          0.00                   1.00         15.38
50%          2.70          0.00                   1.00         20.10
75%          4.12          0.00                   1.00         28.56
max        428.00        115.92                   1.00       5000.00

       congestion_surcharge  Airport_fee
count            2824462.00   2824462.00
mean                   2.26         0.14
std                    0.82         0.49
min                   -2.50        -1.75
25%                    2.50         0.00
50%                    2.50         0.00
75%                    2.50         0.00
max                    2.50         1.75

In [10]:
df_iter = pd.read_csv('./data/nyt.csv', iterator = True , chunksize = 100000)

In [11]:
df = next(df_iter)
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists= 'replace')

0

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 9.27 s, sys: 160 ms, total: 9.43 s
Wall time: 15.5 s

1000

In [17]:
from time import time

In [18]:
try:
    while True: 
        t_start = time()  # Captura el tiempo de inicio del bucle

        try:
            df = next(df_iter)  # Obtiene el siguiente chunk de datos del iterador df_iter
        except StopIteration:
            print("No more data to process.")
            break

        # Convierte las columnas de fechas a tipos datetime si es necesario
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

        try:
            # Inserta el chunk actual del DataFrame en la tabla 'yellow_taxi_data' en la base de datos usando SQLAlchemy
            df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        except Exception as e:
            print(f"Error inserting chunk into database: {e}")
            continue

        t_end = time()  # Captura el tiempo al finalizar la inserción del chunk

        # Imprime el tiempo que tomó insertar el chunk actual
        print(f"Inserted another chunk, took {t_end - t_start:.3f} seconds")

except Exception as e:
    print(f"An error occurred during processing: {e}")

Inserted another chunk, took 19.333 seconds
Inserted another chunk, took 15.767 seconds
Inserted another chunk, took 14.540 seconds
Inserted another chunk, took 14.659 seconds
Inserted another chunk, took 15.048 seconds
Inserted another chunk, took 15.971 seconds
Inserted another chunk, took 14.960 seconds
Inserted another chunk, took 14.660 seconds
Inserted another chunk, took 15.567 seconds
Inserted another chunk, took 15.325 seconds
Inserted another chunk, took 15.942 seconds
Inserted another chunk, took 15.835 seconds
Inserted another chunk, took 15.131 seconds
Inserted another chunk, took 15.256 seconds
Inserted another chunk, took 16.440 seconds
Inserted another chunk, took 16.107 seconds
Inserted another chunk, took 21.046 seconds
Inserted another chunk, took 24.362 seconds
Inserted another chunk, took 25.112 seconds
Inserted another chunk, took 23.189 seconds
Inserted another chunk, took 22.299 seconds
Inserted another chunk, took 24.528 seconds
Inserted another chunk, took 20.084 seconds
Inserted another chunk, took 24.353 seconds
Inserted another chunk, took 25.558 seconds
Inserted another chunk, took 23.289 seconds
Inserted another chunk, took 22.479 seconds

/tmp/ipykernel_9025/1457449345.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)  # Obtiene el siguiente chunk de datos del iterador df_iter

Inserted another chunk, took 19.941 seconds
Inserted another chunk, took 12.751 seconds
No more data to process.